<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhao.mapper.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.zhao.pojo.Goods">
    <id column="id" jdbcType="TINYINT" property="id" />
    <result column="good_name" jdbcType="VARCHAR" property="goodName" />
    <result column="good_price" jdbcType="DOUBLE" property="goodPrice" />
    <result column="good_address" jdbcType="VARCHAR" property="goodAddress" />
    <result column="good_number" jdbcType="INTEGER" property="goodNumber" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, good_name, good_price, good_address, good_number
  </sql>
  <select id="selectByExample" parameterType="com.zhao.pojo.GoodsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_good
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Byte" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_good
    where id = #{id,jdbcType=TINYINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Byte">
    delete from t_good
    where id = #{id,jdbcType=TINYINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhao.pojo.GoodsExample">
    delete from t_good
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhao.pojo.Goods">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Byte">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_good (good_name, good_price, good_address, 
      good_number)
    values (#{goodName,jdbcType=VARCHAR}, #{goodPrice,jdbcType=DOUBLE}, #{goodAddress,jdbcType=VARCHAR}, 
      #{goodNumber,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zhao.pojo.Goods">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Byte">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_good
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodName != null">
        good_name,
      </if>
      <if test="goodPrice != null">
        good_price,
      </if>
      <if test="goodAddress != null">
        good_address,
      </if>
      <if test="goodNumber != null">
        good_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodName != null">
        #{goodName,jdbcType=VARCHAR},
      </if>
      <if test="goodPrice != null">
        #{goodPrice,jdbcType=DOUBLE},
      </if>
      <if test="goodAddress != null">
        #{goodAddress,jdbcType=VARCHAR},
      </if>
      <if test="goodNumber != null">
        #{goodNumber,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhao.pojo.GoodsExample" resultType="java.lang.Long">
    select count(*) from t_good
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_good
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=TINYINT},
      </if>
      <if test="record.goodName != null">
        good_name = #{record.goodName,jdbcType=VARCHAR},
      </if>
      <if test="record.goodPrice != null">
        good_price = #{record.goodPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.goodAddress != null">
        good_address = #{record.goodAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.goodNumber != null">
        good_number = #{record.goodNumber,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_good
    set id = #{record.id,jdbcType=TINYINT},
      good_name = #{record.goodName,jdbcType=VARCHAR},
      good_price = #{record.goodPrice,jdbcType=DOUBLE},
      good_address = #{record.goodAddress,jdbcType=VARCHAR},
      good_number = #{record.goodNumber,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhao.pojo.Goods">
    update t_good
    <set>
      <if test="goodName != null">
        good_name = #{goodName,jdbcType=VARCHAR},
      </if>
      <if test="goodPrice != null">
        good_price = #{goodPrice,jdbcType=DOUBLE},
      </if>
      <if test="goodAddress != null">
        good_address = #{goodAddress,jdbcType=VARCHAR},
      </if>
      <if test="goodNumber != null">
        good_number = #{goodNumber,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=TINYINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhao.pojo.Goods">
    update t_good
    set good_name = #{goodName,jdbcType=VARCHAR},
      good_price = #{goodPrice,jdbcType=DOUBLE},
      good_address = #{goodAddress,jdbcType=VARCHAR},
      good_number = #{goodNumber,jdbcType=INTEGER}
    where id = #{id,jdbcType=TINYINT}
  </update>


</mapper>